<!DOCTYPE html>
<html>
<head>
	<title>Daniel V Cowan • About</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="sidenav">
		<button type="button" class="button" id="button1"><p><a href="mailto:danielvcowan1@gmail.com" style="color:silver">Email</a></p></button>
		<button type="button" class="button" id="button2"><p><a href="https://github.com/danielvcowan1" target="_blank" style="color:silver">GitHub</a></p></button>
		<button type="button" class="button" id="button3"><p><a href="https://www.linkedin.com/in/danielvcowan1/" target="_blank" style="color:silver">LinkedIn</a></p></button>
	</div>
	<div class="wrapper fade-in">
		<div class="name"><h2>&gt; About Me</h2></div>
		<div class="about-general">
			<div id="console">
				<br/>&gt; Dan<span class="attr">.origin</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">"Midwest"<br/><br/></span>
				&gt; Dan<span class="attr">.education</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">"University of Pittsburgh"<br/><br/></span>
				&gt; Dan<span class="attr">.major</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">"Computer Science"<br/><br/></span>
				&gt; Dan<span class="attr">.minor</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">"History"<br/><br/></span>
				&gt; Dan<span class="attr">.languages</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">["Python", "Java", "JavaScript", "Ruby", "HTML/ CSS"]<br/><br/></span>
				&gt; Dan<span class="attr">.competancies</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">["AngularJS", "Flask", "Git", "Katalon", "MiniTest", "Google App Engine", "Agile", "Scrum", "Data Structures", "Algorithm Design"]<br/><br/></span>
				&gt; Dan<span class="attr">.interests</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer">["code", "design", "logic puzzles", "skateboarding", "music", "sailing", "history"]<br/><br/></span>
				</span>&gt; Dan<span class="attr">.relocate?</span><br/>&nbsp;&nbsp;=&gt;
				<span class="answer" style="color:#8853D5"> true<br/><br/></span>
			</span>&gt; Dan<span class="attr">.contact</span><br/>&nbsp;&nbsp;=&gt;
				<span> [ <a href="mailto:danielvcowan1@gmail.com" style="color:#6197F3">Email</a>, <a href="https://www.linkedin.com/in/danielvcowan1/" style="color:#6197F3" target="_blank">LinkedIn</a>, <a href="https://github.com/danielvcowan1" style="color:#6197F3" target="_blank">Github</a> ]<br/><br/></span>
			</div>
		</div>
		<div class="about-img-wrapper">
			<img class="about-img" id="sub" src="../img/submarine2.jpg">
	    	<img class="about-img" id="trav" src="../img/traveler4.jpg">
	    	<img class="about-img" id="cathy" src="../img/cathy2.jpg">
	    </div>
    		<ol>
			  <li>
			    <p class="experience">US NAVY</p>
			    <span class="point"></span>
			    <p class="description">2008-2014<br/>
			    &bull; Nuclear Operator onboard fast attack submarine USS Providence<br/>
			    &bull; Two 7 month deployments to Mediterranean and Persian Gulf<br/>
			    &bull; Learned invaluable skills such as teamwork, communication, and how to be an effective leader<br/>
			    &bull; Built lifelong friendships
				</p>
			  </li>
			  <li>
			    <p class="experience">IN-BETWEEN</p>
			    <span class="point"></span>
			    <p class="description">2014-2016<br/>
			    &bull; Two coast to coast rode trips of the US visiting national parks along the way<br/>
			    &bull; Two week sailing trip around Canary Islands earning certifications from the Royal Yachting Association<br/>
			    &bull; Ran with the bulls at San Fermin<br/>
			    &bull; Traveled much of Europe making it as far east as the Republic of Georgia
				</p>
			  </li>
			  <li>
			    <p class="experience">UNIVERSITY</p>
			    <span class="point"></span>
			    <p class="description">2015-2019<br/>
			    &bull; Started my college career at the University of Southern Indiana<br/>
			    &bull; Transferred to the University of Pittsburgh in 2016<br/>
			    &bull; Spent a semester as a math major because of a lifelong passion for math<br/>
			    &bull; Discovered a deep interest for Computer Science, switched majors, and never looked back
				</p>
			  </li>
			</ol>
	    <div class="links">
	        <p><a href="projects.html" style="color:silver">Projects</a></p>
	        <button type="button" class="downloadbutton"><a href="DanielVCowanResume.pdf" download style="color:silver" target="_blank">Download Resume</a></button>
	        <p><a href="../index.html" style="color:silver">Home</a></p>
	    </div>
	</div>
</body>
</html>
