<!DOCTYPE html>
<html>
<head>
	<title>Daniel V Cowan • Projects</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="sidenav">
		<button type="button" class="button" id="button1"><p><a href="mailto:danielvcowan1@gmail.com" style="color:silver">Email</a></p></button>
		<button type="button" class="button" id="button2"><p><a href="https://github.com/danielvcowan1" target="_blank" style="color:silver">GitHub</a></p></button>
		<button type="button" class="button" id="button3"><p><a href="https://www.linkedin.com/in/danielvcowan1/" target="_blank" style="color:silver">LinkedIn</a></p></button>
	</div>
	<div class="wrapper fade-in">
	<div class="name"><h2>&gt; Projects</h2></div>
		<div class="projects">
			<h2 style="margin-top: 5%; color: #20C20E">MovieGame</h2>
			<p style="line-height: 18pt;">MovieGame is a web-based trivia game modeled after the parlor game <a style="color: #20C20E" href="https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon">Six Degrees of Kevin Bacon</a> that tests the player's knowledge of movie casts. It was built with a Python backend using the Flask microframework, interfaces with TMDb's (The Movie Database) API to retrieve data, and stores user data in a Google Firestore database. The Bootstrap CSS framework was used on the frontend for styling and pure CSS for the scrolling banner on the landing page. A multiplayer feature and mobile app version is in production. Visit the MovieGame site and play yourself at <a style="color: #20C20E" href="http://six-degrees-of-hollywood.appspot.com/">six-degrees-of-hollywood.appspot.com</a></p>
			<video width="960" height="540" controls>
			  <source src="../img/movieGameDemo.mp4" type="video/mp4">
			  <source src="../img/movieGameDemo.ogg" type="video/ogg">
			</video>
			<p style="line-height: 18pt;">My involvement in this project was as tech lead of a four person team. I was the key decision maker and planner. I was deeply involved in all aspects of product design, implementation, and testing. I also wrote major portions of both the frontend and backend including the overall application layout, the scrolling banner in CSS, the API endpoints that interface with TMDb, and the portions of the program which interact with the Firestore database.</p>
			<h2 style="margin-top: 5%; color: #20C20E">JukeBox</h2>
			<p>JukeBox is a web-based application which allows multiple users to collaborate on a shared playlist by adding songs to the playlist and upvoting or downvoting the songs on the playlist resulting in the most popular song playing next. The features of this app including user authentication and song search are accomplished through the Spotify API. It was built with a Python backend using the Flask microframework and SQLite database. AngularJS was used as the frontend framework. </p>
			<video width="960" height="540" controls>
			  <source src="../img/jukeBoxDemo.mp4" type="video/mp4">
			  <source src="../img/jukeBoxDemo.ogg" type="video/ogg">
			</video>
			<p>I was a member of a five person team who completed this project in one iteration of the Software Development Life Cycle using the Agile Scrum methodology. I took part in the architectural design during the planning phase. I implemented the getNextSong functionality from the frontend to the backend and database and contributed to the playback functionality.</p>
			<h2 style="margin-top: 5%; color: #20C20E;">Lightweight Web Analysis Tool</h2>
			<p>This Lightweight Web Analysis Tool is built entirely in JavaScript and HTML. It analyzes data that is entered into a text box and returns useful information about that data.</p>
			<video width="960" height="540" controls>
			  <source src="../img/webAnalysisDemo.mp4" type="video/mp4">
			  <source src="../img/webAnalysisDemo.ogg" type="video/ogg">
			</video>
			<p>I worked as a member of a three person team over six 2 week sprints using the Agile Scrum methodology. I performed the duties of Scrum Master for two of those sprints and worked closely with the product owner to develop this tool for the Pittsburgh-based company Viz. I contributed significant portions of the JavaScript and HTML code base for all functionalities of the tool.</p>
			<h2 style="margin-top: 5%; color: #20C20E">Frogger AI</h2>
			<p>This Python program solves a Pygame implementation of the classic game of Frogger utilizing a Q-learning reinforcement learning algorithm. The trained frog here has learned through approximately 3 hours of training and 6000 deaths. The trained frog acheives 2 homes in a row regularly and 3 homes in a row on occassion. There are over 196K states enumerated to represent a frog-state. An untrained frog is noticably different after about 5-10 minutes of training in that it begins dodging cars regularly.</p>
			<video width="960" height="540" controls loop>
			  <source src="../img/frogger.mp4" type="video/mp4">
			  <source src="../img/frogger.ogg" type="video/ogg">
			</video>
			<h3 style="margin-top: 5%;"><em>More...</em></h3>
			<p>See how these projects were implemented and more of my work at my <a style="color: #20C20E" href="https://github.com/danielvcowan1">GitHub</a></p>
		</div>
	    <div class="links">
	        <p><a href="about.html" style="color:silver">About</a></p>
	        <button type="button" class="downloadbutton"><a href="../DanielVCowanResume.pdf" download style="color:silver" target="_blank">Download Resume</a></button>
	        <p><a href="../index.html" style="color:silver">Home</a></p>
	    </div>
	</div>
</body>
</html>
